// Basics
$theme-header__height: 56px;
$theme-header__icon-font-size: 18px;
$theme-header__element-height: 44px;

// Header Box
$theme-header__padding-x:       4px;
$theme-header__padding-y:       6px;
$theme-header__title_padding-y: 12px;
$theme-header__paddings:       $theme-header__padding-y $theme-header__padding-x;
$theme-header__shadow-size:    $theme-box-shadow-width;

// Header Icons
$theme-header__icon-width:         $theme-header__element-height;
$theme-header__icon-height:        $theme-header__element-height;
$theme-header__icon-line-height:   $theme-header__element-height;

// Header Icon Badges
$theme-header__icon-badge-font-size:    12px;
$theme-header__icon-badge-border-width: 2px;

// Logo
$theme-header__logo-height:    $theme-header__element-height;
$theme-header__logo-big:       $logo-big;
$theme-header__logo-small:     $logo-small;



.cc-header {
    background: $theme-color-header;
    padding: $theme-header__paddings;
    box-shadow: 0 $theme-header__shadow-size 0 $theme-color-accent__darker--10;
}

.cc-header__icon {

    background: $theme-color-header;
    // box-shadow: 0 1px 0 0 $theme-color-accent__darker--20;
    border-radius: $theme-border-radius--basic;
    text-align: center;


}


.cc-header__icon-badge {
    background: $theme-color-dark;
    color: $theme-color-light;
    border:$theme-header__icon-badge-border-width solid $theme-color-light;
}


.cc-header__icon-wrapper--left {
    margin-right: $theme-header__padding-x;
}

.cc-header__icon-wrapper--right {
    margin-left: $theme-header__padding-x;
}

.cc-header__icon {
    width: $theme-header__icon-width;
    height: $theme-header__icon-height;
    line-height: $theme-header__icon-line-height;
    font-size: $theme-header__icon-font-size;
}

.cc-header__icon-badge {
    top: -($theme-header__padding-y - 1px);
    right: -($theme-header__padding-x - 1px);
    font-size: $theme-header__icon-badge-font-size;
    line-height: ($theme-header__icon-badge-font-size * 2) - ($theme-header__icon-badge-border-width * 2);
    min-width: $theme-header__icon-badge-font-size * 2;
    border-radius: $theme-header__icon-badge-font-size;
}

.cc-header__logo {
    display: block;
    color: $theme-color-title;
    font-weight : $font-weight-title-bold;
    font-size: $cc-font-size-title;
    text-decoration: none;
    padding-top: $theme-header__title_padding-y;
    text-align: center;
    height: $theme-header__logo-height;
    // background-image: $theme-header__logo-small;

    @include breakpoint(wide) {
        // background-image: $theme-header__logo-big;
    }
}


.cc-header__icon--sidemenu {
    @extend .fa;
    @extend .fa-bars;
}
.cc-header__icon--cart {
    @extend .fa;
    @extend .fa-shopping-cart;
}
.cc-header__icon--search {
    @extend .fa;
    @extend .fa-search;
}
